.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #eee;
  stroke-width: 1.5px;
}

.tooltip {
  width: 200px;
  position: absolute;
  padding: 1em;
  font: 10px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
}

.tooltip dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}
.tooltip dt {
  float: left;
  width: 50%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0
}
.tooltip dd {
  float: left;
  width: 50%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0
}
.tooltip img {
  width: 100%;
}
table.mykani {
  font-size: 12px;
}
table.mykani td.success {
  background-color: #28a745!important;
}
table.mykani td.warning {
  background-color: #ffc107!important;
}
